<div class="container">
    <h1>Ecommerce</h1>
    <hr>
    <h2>Save Product</h2>

    <form action="#" th:action="${action}" th:object="${product}" method="POST">
        <input type="hidden" th:field="*{id}" th:value="${product.id}">
        <input type="text" th:field="*{name}" placeholder="Product Name">
        <input type="text" th:field="*{description}" placeholder="Product Description">
        <input type="text" th:field="*{unitPrice}" placeholder="Product Price">
        <input type="text" th:field="*{imageUrl}" placeholder="Product Image">
        <select th:field="*{cateGoryId}">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
        </select>
        <button type="submit" >Save Product</button>
    </form>
    <hr>
    <a th:href="@{/admin}"> Back to Admin panel</a>
</div>