<div class="container">
    <div class="row">
        <div class="col-3">

            </div>
                <div class="col-6">
                    <h1 class="mt-5" th:text="${pageTitle}">Address</h1>
                    <form action="/user/address/save" method="post" class="mt-3">
                        <input type="hidden" name="previousUrl" th:value="${previousUrl}">
                        <div class="m-1 form-group">
                            <label for="details">Details:</label>
                            <input type="text" class="form-control" id="details" name="details" maxlength="255" required>
                        </div>


                        <div class="m-1 form-group">
                            <label for="zipCode">Zip code:</label>
                            <input type="text" class="form-control" id="zipCode" name="zipCode" maxlength="20" required>
                        </div>

                        <button type="submit" class="m-1 btn btn-primary">Submit</button>
                        <a class="m-1 btn btn-danger" th:href="@{${previousUrl}}">Cancel</a>
                    </form>
                </div>
            <div class="col-3">

        </div>
    </div>
</div>