
<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <form
                    class="form-horizontal"
                    method="post"
                    role="form"
                    th:action="@{/login}"
            >
                <div class="mb-3">
                    <label class="form-label" for="username">username</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
                <div class="mb-3">
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" placeholder="Enter password"
                           type="password">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                    or <a class="btn btn-secondary" th:href="@{/auth/create}">Register</a>
                </div>
            </form>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>