<!--
<div class="container">
    <div class="row">
        <div class="col-3">

            </div>
                <div class="col-6">
                    <h1 class="mt-5">Sign In</h1>
                    <form action="/auth/sign-in" method="post" class="mt-3">
                        <input type="hidden" name="previousUrl" th:value="${previousUrl}">
                        <div class="m-1 form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" maxlength="50" required>
                        </div>


                        <div class="m-1 form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" maxlength="255" required>
                        </div>

                        <button type="submit" class="m-1 btn btn-primary">Submit</button>
                        <a class="m-1 btn btn-danger" th:href="@{${previousUrl}}">Cancel</a>
                    </form>
                </div>
            <div class="col-3">

        </div>
    </div>
</div>-->


<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <form
                    class="form-horizontal"
                    method="post"
                    role="form"
                    th:action="@{/login}"
            >
                <div class="mb-3">
                    <label class="form-label" for="username">username</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
                <div class="mb-3">
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" placeholder="Enter password"
                           type="password">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                    or <a class="btn btn-secondary" th:href="@{/auth/create}">Register</a>
                </div>
            </form>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>-->