<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Default Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Additional CSS and JS imports -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/landingpage}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${isLoggedIn}">
                    <a class="nav-link active" aria-current="page" th:href="@{/userdetails}">Profile</a>
                </li>
                <li class="nav-item" th:if="${isLoggedIn}">
                    <a class="nav-link" th:href="@{/userdetails/getorders}">All Orders</a>
                </li>
                <li class="nav-item" th:if="${isLoggedIn}">
                    <a class="nav-link" th:href="@{/user/cart}">Cart</a>
                </li>
                <!-- Additional navigation items -->
            </ul>
        </div>
        <a class="btn btn-primary m-1" th:href="@{/user/create}" th:unless="${isLoggedIn}">SignUp</a>
        <a class="btn btn-secondary m-1" th:href="@{/user/sign-in-form}" th:unless="${isLoggedIn}">Login</a>
        <a class="btn btn-danger m-1" th:href="@{/user/logout}" th:unless="${!isLoggedIn}">Logout</a>
    </div>
</nav>
<div class="mt-5" id="content" th:replace="${content}"></div>
<!-- Additional scripts -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
