<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce Spring 2024</title>
</head>
<body>
    <h1>Hello Admin</h1>

    <button><a th:href="@{/admin/addnewproduct}">Add Product</a></button>

    <table style="width:80%" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Image Url</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product:${product_list}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.unitPrice}"></td>
                <td th:text="${product.imageUrl}"></td>
                <td th:text="${product.categoriesStr()}"></td>
                <td> <a th:href="@{/admin/showFormForUpdate/{id}(id=${product.id})}">Update</a>
                <td> <a th:href="@{/admin/deleteProduct/{id}(id=${product.id})}">Delete</a>
            </tr>
        </tbody>
    </table>
</body>
</html>
